* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: whitesmoke;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-decoration: none;
}
.centro-pagina {
    text-align: center;
    height: 100vh;
}

 .tarjeta {
    background-color: #FBFBFB;
    color: #8C8C9C;
    padding: 30px;
    display: inline-block;
    text-align: left;
    margin-top: 200px;
    width: 350px;
    height: 350px;
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.19);
}

.campana {
    width: 50px;
}

.campana img {
    width: 100%;
}

.tarjeta h1 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}

.tarjeta .parrafo {
    margin-bottom: 20px;
}

.tarjeta a {
    text-decoration: none;
}

.boton-azul {
    width: 150px;
    height: 40px;
    background-color: #588BDA;
    border: 0px;
    border-radius: 10px;
    color: white;
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.19);
}